---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, SITE_BASE } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = await getCollection("blog");

const groupedByYear = posts.reduce((acc, post) => {
	const year = post.data.pubDate.getFullYear();
	if (!acc[year]) {
		acc[year] = [];
	}
	acc[year].push(post);
	return acc;
}, {});

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="prose">
		<Header />
		<main>
			<section>
				<ul>
					{
						[...Object.keys(groupedByYear)].map((year) => {
							return (
								<li class="list-none">
									<h2>{year}</h2>
									<ul>
										{groupedByYear[year].map((post) => (
											<li class="flex justify-between ">
												<a
													class="visited:text-accent"
													href={`${SITE_BASE}blog/${post.slug}/`}
												>
													{post.data.title}
												</a>
												<FormattedDate
													date={post.data.pubDate}
												/>
											</li>
										))}
									</ul>
								</li>
							);
						})
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
